#aside_content .card-info .card-info-social-icons .social-icon .iconfont {
    margin: 0 0.5rem;
    color: var(--font-color);
    font-size: 1rem;
    cursor: pointer;
  }
  .iconfont {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}